# dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/
next-env.d.ts
*.tsbuildinfo

# TypeScript
.turbo/
*.tsbuildinfo

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*.local
.env

# vercel
.vercel/

# Local notes / draft commit messages
.git-msg
.git-commit-msg
*.local
